
                
                    <div class="single_feature_post_text">
                            <img src="{{'data:image/jpg;base64,' + item.categoryImage}}"/>
                        <div class="hover_text">
                            <a class="btn_2" (click)="Go(item.categoryId);">{{item.categoryName}}</a>
                        </div>
                    </div>
               
                <!-- <div class="col-lg-4 col-sm-6"> 
                    <div class="single_feature_post_text">
                        <img src="img/feature_2.png" alt="#">
                        <div class="hover_text">
                            <a href="single-product.html" class="btn_2">shop for male</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_feature_post_text">
                        <img src="img/feature_3.png" alt="#">
                        <div class="hover_text">
                            <a href="single-product.html" class="btn_2">shop for male</a>
                        </div>
                    </div>
                </div>-->
            