<div class="card">
        <div class="card-header">
                <!-- <ng-container *ngIf="add()"> -->
                <h4>Add Products</h4>
                <!-- </ng-container> -->
                <!-- <ng-container *ngIf="edit()">
                <h4>Edit Products</h4>
                </ng-container>-->
        </div>
        <div class="form3">
                <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                        <div class="form-group row">
                                <label class="col-sm-2 col-form-label">ProductName</label>
                                <div class="col-sm-4">
                                        <input type="text" class="form-control" id="productName" placeholder="Name"
                                                autocomplete="off" name="productName" #productName="ngModel"
                                                [ngClass]="{ 'is-invalid': submitted && productName.errors?.required}"
                                                [(ngModel)]="productformmodel.productName" required />
                                        <div class="design" *ngIf="submitted">
                                                <div class="design" *ngIf="productName.errors?.required">Name is
                                                        required ***</div>
                                        </div>
                                </div>
                        </div>


                        <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-4">
                                        <input type="text" class="form-control" id="productDescription"
                                                placeholder="Description" name="productDescription"
                                                #productDescription="ngModel"
                                                [ngClass]="{ 'is-invalid': submitted && productDescription.errors?.required}"
                                                [(ngModel)]="productformmodel.productDescription" required />
                                        <div *ngIf="submitted">
                                                <div class="design" *ngIf="productDescription.errors?.required">
                                                        Description is
                                                        required ***
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Model No</label>
                                <div class="col-sm-4">
                                        <input type="text" class="form-control" id="modelNumber" placeholder="Model_no"
                                                name="modelNumber" #modelNumber="ngModel"
                                                [ngClass]="{ 'is-invalid': submitted && modelNumber.errors?.required}"
                                                [(ngModel)]="productformmodel.modelNumber" required />
                                        <div *ngIf="submitted">
                                                <div class="design" *ngIf="modelNumber.errors?.required">Model Number is
                                                        required ***
                                                </div>
                                        </div>
                                </div>
                        </div>
<!-- 
                        <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Created Date</label>
                                <div class="col-sm-4">
                                        <input type="text" class="form-control" id="CreatedDate" placeholder="Date"
                                                name="CreateDate" #CreatedDate="ngModel"
                                                [ngClass]="{ 'is-invalid':submitted}"
                                                [(ngModel)]="productformmodel.udate" required email />
                                        <div class="design" *ngIf="submitted">
                                                <div class="design" *ngIf="CreatedDate.errors?.required">Date is
                                                        required***
                                                </div>
                                        </div>
                                </div>
                        </div> -->

                        <!-- <div class="form-group row">
                                <label class="col-sm-2 col-form-label">IsActive</label>
                                <div class="col-sm-4">
                                        <input type="text" class="form-control" id="isActive" placeholder="isActive"
                                                name="isActive" #isActive="ngModel"
                                                [ngClass]="{ 'is-invalid':submitted  && isActive.errors?.required}"
                                                [(ngModel)]="productformmodel.isActive" required />
                                        <div class="design" *ngIf="submitted">
                                                <div class="design" *ngIf="isActive.errors?.required">field is
                                                        required***</div>
                                        </div>
                                </div>
                        </div> -->

                        <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Price</label>
                                <div class="col-sm-4">
                                        <input type="text" class="form-control" autocomplete="off" id="Price"
                                                placeholder="Price" name="price" #price="ngModel"
                                                [ngClass]="{ 'is-invalid':submitted  && price.errors?.required}"
                                                [(ngModel)]="productformmodel.price" required />
                                        <div class="design" *ngIf="submitted">
                                                <div class="design" *ngIf="price.errors?.required">Price is
                                                        required***</div>
                                        </div>
                                </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Quantity</label>
                                <div class="col-sm-4">
                                        <input type="text" class="form-control" autocomplete="off" id="QuantityInStock"
                                                placeholder="Quantity" name="quantityInStock" #quantityInStock="ngModel"
                                                [ngClass]="{ 'is-invalid':submitted  && quantityInStock.errors?.required}"
                                                [(ngModel)]="productformmodel.quantityInStock" required />
                                        <div class="design" *ngIf="submitted">
                                                <div class="design" *ngIf="quantityInStock.errors?.required">Quantity is
                                                        required***</div>
                                        </div>
                                </div>
                        </div>

                       <div class="form-group row"> 
                                <label class="col-sm-2 col-form-label">Is Discounted </label>
                                <div class="col-sm-4">
                                        <label class="checkbox-inline">
                                                <input type="checkbox" name="isDiscounted" #isDiscounted="ngModel" [(ngModel)]="productformmodel.isDiscounted" value="Yes"
                                                        (click)="validateCheckbox($event)" />
                                        </label>

                                </div>
                        </div>

                           <div class="form-group row" *ngIf="productformmodel.isDiscounted">
                                <label class="col-sm-2 col-form-label">Discount %</label>
                                <div class="col-sm-4">
                                        <input type="text" class="form-control"  placeholder="Discount Percentage"
                                                name="discountPercent" #discountPercent="ngModel"
                                                [ngClass]="{ 'is-invalid':submitted  && discountPercent.errors?.required}"
                                                [(ngModel)]="productformmodel.discountPercent" required />
                                        <div class="design" *ngIf="submitted">
                                                <div class="design" *ngIf="discountPercent.errors?.required">field is
                                                        required***</div>
                                        </div>
                                </div>
                        </div>


                        <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Category</label>
                                <div class="col-sm-4">
                                        <select name="categoryId"
                                                [ngClass]="{ 'is-invalid':submitted && productformmodel.categoryId===-1 }"
                                                class="form-control" #categoryId="ngModel"
                                                [(ngModel)]="productformmodel.categoryId" required>
                                                <option value="-1">Select Category</option>
                                                <option value="{{category.categoryId}}" *ngFor="let category of list">
                                                        {{category.categoryName}}
                                                </option>
                                        </select>
                                        <div class="design" *ngIf="submitted">
                                                <div class="design" *ngIf="productformmodel.categoryId===-1">category is
                                                        required***</div>
                                        </div>
                                </div>
                        </div>

                     
                        <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Image</label>
                                <div class="col-sm-4">
                                        <input type="file" class="form-control" (change)="onFileChanged($event)"
                                                name="Image" [ngClass]="{ 'is-invalid':file===undefined && submitted }" />

                                        <div class="design" *ngIf="file===undefined && submitted">Image is
                                                required***</div>

                                </div>
                        </div>

                        <div class="row">
                        <button  type="submit" class="btn btn-primary submit1">Submit</button>
                        <button (click)="back()" class="btn btn-primary submit2">Back</button>
                        <button (click)="reset()" class="btn btn-primary submit3">Reset</button>
                        </div>
                </form>
        </div>
</div>