<form>
<div class="form-group">   
        <label>CategoryName</label>
        <input type="text" autocomplete="off" class="form-control">
</div>
<div class="form-group">   
        <label>Description</label>
        <input type="text" autocomplete="off" class="form-control">
</div>
<div class="form-group">   
        <label>CreatedBy</label>
        <input type="text" autocomplete="off" class="form-control">
</div>
<div class="form-group">   
        <label>CreatedDate</label>
        <input type="text" autocomplete="off" class="form-control">
 </div>
 <div class="form-group">   
        <label>IsActive</label>
        <input type="text" autocomplete="off" class="form-control">
</div>

</form>
