
    <img   src="{{'data:image/jpg;base64,' + items.productImage}}" />
    <div  class="hover_text">
        <p>Canvas</p>
        <a>
            <h3 >{{items.productName}}</h3>
        </a>
        <div class="rate_icon">
            <a> <i class="fas fa-star"></i> </a>
            <a> <i class="fas fa-star"></i> </a>
            <a> <i class="fas fa-star"></i> </a>
            <a> <i class="fas fa-star"></i> </a>
            <a> <i class="fas fa-star"></i> </a>
        </div>
        <h5>${{items.price}}</h5>
        <div class="social_icon">
            <!-- <a><i class="ti-heart"></i></a>
            <a><i class="ti-bag"></i></a> -->

            
                    <add-to-cart [isDetailPage]="false" [product]="items" [quantity]="1" [isWishlist]='false'></add-to-cart>                                   
                    <add-to-cart [isDetailPage]="false" [product]="items" [quantity]="1" [isWishlist]='true'>
                    </add-to-cart>
                

        </div>

    </div>


  