<!--================Home Banner Area =================-->
<!-- breadcrumb start-->



<section class="breadcrumb breadcrumb_bg">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <p>Home /{{categoryName$|async}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!--================Category Product Area =================-->
<section class="cat_product_area section_padding border_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets p_filter_widgets sidebar_box_shadow">
                        <div class="l_w_title">
                            <h3>Browse Categories</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list" *ngFor="let cat of categories">
                                <li routerLink="/category/{{cat.categoryId}}" href="javascript:void(0)">
                                    <a>{{cat.categoryName}}</a>
                                </li>

                            </ul>
                        </div>
                    </aside>

                    <aside class="left_widgets p_filter_widgets sidebar_box_shadow">
                        <div class="l_w_title">
                            <h3>Product filters</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <p>Brands</p>
                                <li>
                                    <input type="radio" aria-label="Radio button for following text input">
                                    <a>Apple</a>
                                </li>
                                <li>
                                    <input type="radio" aria-label="Radio button for following text input">
                                    <a>Asus</a>
                                </li>
                                <li class="active">
                                    <input type="radio" aria-label="Radio button for following text input">
                                    <a>Gionee</a>
                                </li>
                                <li>
                                    <input type="radio" aria-label="Radio button for following text input">
                                    <a>Micromax</a>
                                </li>
                                <li>
                                    <input type="radio" aria-label="Radio button for following text input">
                                    <a>Samsung</a>
                                </li>
                            </ul>
                            <ul class="list">
                                <p>color</p>
                                <li>
                                    <input type="radio" aria-label="Radio button for following text input">
                                    <a>Black</a>
                                </li>
                                <li>
                                    <input type="radio" aria-label="Radio button for following text input">
                                    <a>Black Leather</a>
                                </li>
                                <li>
                                    <input type="radio" aria-label="Radio button for following text input">
                                    <a>Black with red</a>
                                </li>
                                <li>
                                    <input type="radio" aria-label="Radio button for following text input">
                                    <a>Gold</a>
                                </li>
                                <li>
                                    <input type="radio" aria-label="Radio button for following text input">
                                    <a>Spacegrey</a>
                                </li>
                            </ul>
                        </div>
                    </aside>

                    <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow">
                        <div class="l_w_title">
                            <h3>Price Filter</h3>
                        </div>
                        <div class="widgets_inner">
                            <div class="range_item">
                                <!-- <div id="slider-range"></div> -->
                                <input type="text" class="js-range-slider" value="" />
                                <div class="d-flex align-items-center">
                                    <div class="price_text">
                                        <p>Price :</p>
                                    </div>
                                    <div class="price_value d-flex justify-content-center">
                                        <input type="text" class="js-input-from" id="amount" readonly />
                                        <span>to</span>
                                        <input type="text" class="js-input-to" id="amount" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
            <div class="col-lg-9" *ngIf="isDataAvailable">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product_top_bar d-flex justify-content-between align-items-center">
                            <div class="single_product_menu product_bar_item">

                                <h2>{{categoryName$|async}} ({{productlist.length}})</h2>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" *ngFor="let pro of productlist "
                        >
                        <div class="single_category_product">
                            <ng-container *ngIf="pro.productImage!==null">
                                <div class="single_category_img">
                                    <img routerLink="/category/{{categoryId}}/product/{{pro.productId}}" src="{{'data:image/jpg;base64,' + pro.productImage}}" />
                                    <!-- <img src="assets/img/category/category_1.png" alt="">  -->
                                    <div class="category_social_icon">
                                        <ul>
                                            <!-- <li>
                                                <a><i class="ti-heart"></i></a>
                                            </li>
                                            <li><a><i class="ti-bag"></i></a></li> -->
                                            <li>
                                                <add-to-cart [isDetailPage]="false" [product]="pro" [quantity]="1" [isWishlist]='false'></add-to-cart>                                   
                                            </li>
                                            <li>
                                                <add-to-cart [isDetailPage]="false" [product]="pro" [quantity]="1" [isWishlist]='true'>
                                                </add-to-cart>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="category_product_text">
                                        <a>
                                            <h5>{{pro.productName}}</h5>
                                        </a>
                                        <p>${{pro.price}}</p>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="pro.productImage===null||pro.productImage===undefined">
                                <h1 class="tag">Products Not Found</h1>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================End Category Product Area =================-->
<mat-progress-spinner [hidden]="!visible" class="spinner" [color]="'primary'" [mode]="'indeterminate'" [value]="50">
</mat-progress-spinner>