<div class="isha">
        <div class="imgcontainer">
        <img src="./assets/images/image7.jpg" alt="Logo" class="logo">
        </div>
 <div class="container"> 
        <button class="btn btn-outline-success class1" type="button"><i class="fa fa-fw fa-home"></i>Home</button>
        <button class="btn btn-outline-success class2" type="button"><i class="fa fa-fw fa-envelope"></i>Contact</button>
        <button class="btn btn-outline-success class3" type="button"><i class="fa fa-fw fa-user"></i>Categories</button>
        <button class="btn btn-outline-success class4" type="button"><i class="fa fa-fw fa-user"></i>Products</button>
</div>
<div class="storage1">
 <h3 class="storage2">{{val.firstName+" "+ val.lastName}}</h3>
 
 <span id='AwesomeFont'><i class="fa fa-fw fa-user-circle class5"></i></span>
 <div>
         <button>logout</button>
 </div>
        
 
 </div>
  
</div>

  
  
