
.isha{
    background-color:black;

    padding-top:10px;
    padding-bottom:10px;
}
.logo{
    float:left;                                    
    height:40px;
    width:50px;
    
}
.btn btn-outline-success {
    margin-left:20px;
}
.container{
    margin-left: 150px;
    max-width: 1140px;
}
.class1{
    margin-left:40px;  
}
.class2{
    margin-left:40px;  
}
.class3{
    margin-left:40px;  
}
.class4{
  margin-left:40px;  
}

.storage1{
    border:2px solid red;
    float: right;
}
.storage2{
    color:white;
    display: inline-block;
    margin: 0;;
}

.fa-user-circle{
    font-size:40px;
}
#AwesomeFont {
    color:yellow;
   
}
img{
    width:30px;
    height:20px;
}


