<section class="shipping_details section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="assets/img/icon/icon_1.png" alt="">
                    <h4>Free shipping</h4>
                    <p>Customers may be unwilling to pay more for the product so we have offered free shipping.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="assets/img/icon/icon_2.png" alt="">
                    <h4>Free shipping</h4>
                    <p>Customers may be unwilling to pay more for the product so we have offered free shipping.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="assets/img/icon/icon_3.png" alt="">
                    <h4>Free shipping</h4>
                    <p>Customers may be unwilling to pay more for the product so we have offered free shipping.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_shopping_details">
                        <img src="assets/img/icon/icon_4.png" alt="">
                        <h4>Free shipping</h4>
                        <p>Customers may be unwilling to pay more for the product so we have offered free shipping.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
