<!--::header part start::-->
<section class="main_menu home_menu">
  <div class="imgcontainer">
    <img src="./assets/images/image7.jpg" alt="Logo" (click)="dashboard()" class="admin-logo" />
  </div>
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-11">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a (click)="navigate()" class="navbar-brand">
            <h1>ShopNow</h1>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu_icon"><i class="fas fa-bars"></i></span>
          </button>

          <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a routerLinkActive="link" routerLink=" " (click)="navigate()" class="nav-link">Home</a>
              </li>
              <li class="nav-item" let i="index" *ngFor="let category of categories | slice: 0:5">
                <a routerLinkActive="link" class="nav-link" routerLink="/category/{{ category.categoryId }}"
                  href="javascript:void(0)">{{ category.categoryName }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">About</a>
              </li>

              <li class="nav-item">
                <a class="nav-link">Contact </a>
              </li>
            </ul>
          </div>
        </nav>

        <ng-container *ngIf="value !== null">
          <p class="storage2">{{ value.firstName + " " + value.lastName }}</p>
          <div class="image">
            <span *ngIf="value === null" id="AwesomeFont"><i class="fa fa-fw fa-user-circle"></i></span>
            <img  src="{{ 'data:image/jpg;base64,' + value?.userImage }}" />
          </div>
        </ng-container>



        <button *ngIf="value === null" class="btn btn-primary" class="btn1" (click)="login()">
          login
        </button>
        <button *ngIf="value !== null" class="btn btn-primary" class="btn1" (click)="logout()">
            logout
          </button>
          <button *ngIf="value === null" class="btn btn-primary" class="btn1" (click)="signup()">
              signup
            </button>


        <div class="cart" class="hearer_icon d-flex">
          <div class="dropdown cart">
            <a href="javascript:void(0)" (click)="view()"   id="navbarDropdown3" role="button">
              <i class="ti-bag">
             
              </i>
              <div class="count-cart" *ngIf="value !== null">
              <span>  {{ cartItemsCount }}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Header part end-->